body {
    font-family: 'Helvetica', sans-serif !important;
}


select {
  color: #9e9e9e;
}
option:not(:first-of-type) {
  color: #E2E2E2;
}

.ProseMirror p {
    color: white;
    border: 0px !important;
    outline: none !important;
}

.ProseMirror {
    min-height: 300px;
    padding: 12px !important;
    outline: none;
    color: white;
}

.ProseMirror ul, ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ProseMirror a {
  text-decoration: underline;
  color: #a9a6ff;
  cursor: pointer;
}
